.social-links {
    font-size: 50px;
}
.secondary-info .social-links {
    font-size: 25px;
}

@media (max-width: 768px) {
    .main-content {
        padding-top: 0;
        margin-top: 60px;
    }
}
